header
  ul.nav
    li.nav-item
      a.nav-link.active(href="#") 教育
    li.nav-item
      a.nav-link(href="#") 喜剧 
    li.nav-item
      a.nav-link(href="#") 记录片 
    li.nav-item
      a.nav-link(href="#") 番剧 
    li.nav-item
      a.nav-link(href="#") 奥斯卡 
